########################################
# Terraform
########################################

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

########################################
# Terraform Lock File
########################################

# Keep this file in Git
#! .terraform.lock.hcl

########################################
# Environment Files
########################################

*.tfvars
*.tfvars.json

########################################
# Python
########################################

venv/
.venv/
__pycache__/
*.pyc

########################################
# VS Code
########################################

.vscode/

########################################
# macOS
########################################

.DS_Store